body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 16px;
}

/* Estilos para toda la seccion de productos */
.seccion-productos{
    width:100vw; /* ocupe el 100% de la ventana visible */
    text-align: center;
}

/* Encabezado de la seccion */

.seccion-productos h2{
    font-size: 32px;
    margin-bottom: 20px;
}

/* Contendor de productos */
.productos {
    margin: 10px;
    display: flex;
    flex-direction: row;
    /* gap: 15%; */
    overflow-x:scroll;
    scrollbar-width: none; /*esconder la barra de navegacion*/
    scroll-snap-type: x proximity; /*estilo de navegacion*/
}

/* Cada tarjeta de producto */

.card-producto{
    /* background-color: #f9f9f9; */
    min-width: 198px;
    width: 198px;
    scroll-snap-align: center;
    padding: 5%;
    align-content: flex-start;
}

.card-producto img{
    max-width: 100%;
    min-height: 200px;
    max-height: 200px;
    border-radius: 13.42px;
}

.card-producto h3{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
}

.card-producto p{
    text-align: left;
}

.rating {
    display: flex;
    align-items: center;
}

.rating p{
    margin: 0 1px;
}

.pricing {
    display: flex;
}

.pricing p{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}   

.discount{
    padding: 0 5px;
    color: #00000040;
    text-decoration: line-through;
}

.percent {
    background: #FF333310;
    padding: 6px 14px; 
    border-radius: 62px;
}

.percent p{
    color: #FF3333;
    font-size: 10px;
    font-weight: lighter;
}

/* Botón */

.seccion-productos button{
    font-size: 14px;
    width: 90%;
    padding: 16px 54px;
    background-color: white;
    border-radius: 62px;
    border:1px solid rgba(0, 0, 0, 0.100);
}

.seccion-productos button:hover{
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

/* Separador de seccion */

hr {
    border: 1px solid #00000010;
    width: 90%;
    margin: 20px auto;
}

.top-bar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}
.top-bar a {
    color: white;
    text-decoration: underline;
}
.brands-section {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.brands-section .brand {
    margin: 0 20px;
}
